/* ============= VARIABLES ============= */
:root {
  --primary-color: #111111;
  --secondary-color: #ffffff;
  --accent-color: #fd9222;
}
/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.accent-color {
  color: var(--accent-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ============= /COMMON STYLES ============= */

/* ================ COMPONENTS ================ */
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: var(--primary-color);
}
/* ================ /COMPONENTS ================ */

/* ============= PAGE HEADER ============= */
.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 898px;
}

.logotype {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: calc(20 / 18);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.logotype-icon {
  margin-left: 4px;
  fill: #fcf1e0;
  stroke: var(--accent-color);
}

.menu {
  display: flex;
  column-gap: 24px;
}

.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--primary-color);
  transition: color 250ms ease-out;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.social-list {
  display: flex;
  column-gap: 14px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: border-color 250ms ease-out;
}

.social-list-link:hover,
.social-list-link:focus {
  border-color: rgba(253, 146, 34, 0.1);
}

.social-list-icon {
  transition: fill 250ms ease-out;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--accent-color);
}
/* ============= /PAGE HEADER ============= */

/* ================ HERO ================ */
.hero {
  max-width: 1136px;
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/bg.jpg');
  background-size: cover;
}

.main-title {
  max-width: 470px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  color: var(--secondary-color);
}

.hero-bottom-block {
  display: flex;
  align-items: center;
}

.buy-now-btn {
  min-width: 144px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 14px;
  border-radius: 100px;
  border: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  transition: background-color 250ms ease-out, color 250ms ease-out;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #fcf1e0;
  color: var(--accent-color);
}

.how-made-link {
  display: flex;
  align-items: center;
  min-width: 183px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: border-color 250ms ease-out, color 250ms ease-out;
}

.how-made-link:hover,
.how-made-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.scroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  color: var(--secondary-color);
  transition: color 250ms ease-out;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: var(--accent-color);
}

.scroll-down-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: background-color 250ms ease-out;
}

.scroll-down-link:hover .scroll-down-icon-wrapper,
.scroll-down-link:focus .scroll-down-icon-wrapper {
  background-color: var(--accent-color);
}

.scroll-down-icon {
  fill: var(--accent-color);
  transition: fill 250ms ease-out;
}

.scroll-down-link:hover .scroll-down-icon,
.scroll-down-link:focus .scroll-down-icon {
  fill: #ffffff;
}
/* ================ /HERO ================ */

/* ================ BENEFITS ================ */
.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
  margin-bottom: 60px;
  background-color: #1e1823;
}

.benefits-container {
  padding-left: 34px;
  padding-right: 34px;
}

.benefits-list {
  display: flex;
  column-gap: 88px;
}

.benefits-list-item {
  width: calc((100% - 176px) / 3);
}

.benefits-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.benefits-list-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 18px;
}

.benefits-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  color: rgba(255, 255, 255, 0.7);
}
/* ================ /BENEFITS ================ */

/* ================ INGREDIENTS ================ */
.ingredients-section-title {
  max-width: 412px;
  margin-left: auto;
  margin-right: auto;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
}

.ingredients-list-item {
  position: relative;
  flex-basis: calc((100% - 96px) / 4);
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 15px;
  color: var(--secondary-color);
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: var(--accent-color);
}

.ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
  color: var(--primary-color);
  outline: 1px solid var(--accent-color);
}

.ingredients-list-item:nth-child(4n - 1) {
  background-color: #1e1823;
}

.ingredients-list-link {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #fafafa;
  stroke: #fafafa;
}

.ingredients-list-item:nth-child(even) .ingredients-list-link {
  border-color: #fd9222;
  stroke: #fd9222;
}

.ingredients-list-img {
  margin-bottom: 32px;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ================ /INGREDIENTS ================ */

/* ================ HOW MADE ================ */
.how-made-content-wrapper {
  display: flex;
  column-gap: 20px;
}

.how-made-text-wrapper {
  flex-grow: 1;
  padding: 32px;
  border-radius: 15px;
  background-color: #ffffff;
}

.how-made-title {
  max-width: 350px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 32px;
  color: var(--primary-color);
}

.how-made-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}
/* ================ /HOW MADE ================ */

/* ================ PRODUCTS ================ */
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.products-list-item {
  flex-basis: calc((100% - 54px) / 4);
  text-align: center;
  padding: 32px 18px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #ffffff;
}

.products-list-img {
  margin-bottom: 8px;
}

.products-list-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-bottom: 2px;
  color: var(--primary-color);
}

.products-list-ingredient {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
  color: rgba(17, 17, 17, 0.7);
}

.products-list-price {
  display: inline-block;
  min-width: 94px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fafafa;
  color: var(--primary-color);
}
/* ================ /PRODUCTS ================ */

/* ================ BESTSELLERS ================ */
.bestsellers-list {
  display: flex;
  column-gap: 16px;
}

.bestsellers-list-item {
  flex-basis: calc((100% - 32px) / 3);
}

.bestsellers-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-top: 178px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-radius: 15px 15px 0px 0px;
  background-image: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0) 100%
  );
  backdrop-filter: blur(7.5px);
  color: #fafafa;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms ease-out;
}

.bestsellers-list-link:hover .overlay,
.bestsellers-list-link:focus .overlay {
  transform: translateY(0%);
}

.bestsellers-list-caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #ffffff;
  color: var(--primary-color);
}
/* ================ /BESTSELLERS ================ */

/* ================ REVIEWS ================ */
.reviews-section-title {
  margin-bottom: 90px;
}

.reviews-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 50px;
}

.reviews-list-item {
  position: relative;
  width: calc((100% - 56px) / 3);
  padding-top: 56px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 9.05px 100px 0px rgba(17, 17, 17, 0.03);
}

.reviews-list-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews-list-fullname {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
  color: var(--text-color-theme-light);
}

.reviews-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.leave-review-btn {
  display: block;
  width: 222px;
  font-size: 18px;
  font-weight: 600;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 1px solid var(--accent-color);
  color: var(--primary-color);
  background-color: #ffffff;
  transition: color 250ms ease-out, background-color 250ms ease-out;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
/* ================ /REVIEWS ================ */

/* ================ BACKDROP ================ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* ================ /BACKDROP ================ */

/* ================ MODAL WINDOW ================ */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  min-height: 794px;
  padding: 40px;
  border-radius: 15px;
  background-color: #fafafa;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  stroke: #111111;
}

.close-btn:hover,
.close-btn:focus {
  stroke: var(--accent-color);
}

.close-btn-icon {
  transition: stroke 250ms ease-out;
}
/* ================ /MODAL WINDOW ================ */

/* ================ MODAL FORM ================ */
.review-form-description {
  width: 298px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 40px;
}

.review-form-field-wrapper {
  margin-bottom: 18px;
}

.review-form-field-label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 68px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding-left: 62px;
  transition: border-color 250ms ease-out;
}

.review-form-input:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #404040;
  transition: stroke 250ms ease-out;
}

.review-form-input:focus + .review-form-field-icon {
  stroke: var(--accent-color);
}

.review-form-comment {
  width: 100%;
  height: 137px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
  transition: border-color 250ms ease-out;
}

.review-form-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-form-comment:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.review-form-checkbox-wrapper {
  margin-bottom: 40px;
}

.review-form-checkbox-label {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  cursor: pointer;
  fill: transparent;
  margin-right: 12px;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-submit {
  min-width: 117px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 100px;
  border: none;
  transition: color 250ms ease-out, background-color 250ms ease-out;
}

.review-form-submit:hover,
.review-form-submit:focus {
  color: var(--accent-color);
  background-color: #fcf1e0;
}
/* ================ /MODAL FORM ================ */
